button {
    outline: none;
    cursor: pointer;
    backface-visibility: hidden;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    color: #fff;
}

button:focus {
    outline: none;
}

.example-container {
    width: 100vw;
    height: 99vh;
    margin: 0;
    background-color: #FFA800;
    overflow: hidden;
}

mat-sidenav {
    @media only screen and (max-width: 1000px) {
        width: 100vw;
    }

    width: 40vw;
}

.sidenav {
    background-color: #e74c3c;
    overflow: hidden;
}

mat-icon {
    text-shadow: 2px 2px #000000;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}